html {
  font-size: 1em;
}

body {
  background-image: url('../img/dark_wood_@2X.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  color: #888;
}

.navbar {
  width: 13%;
  margin: 0 0 0 0;
  position: fixed;
  text-align: center;
}

.sidebar {
  width: 13%;
  margin: 0 0 0 0;
  position: fixed;
  left: 1100px;
  text-align: left;
}

.col-md-1 {
  width: 50%;
  margin: 15px 10px;
  float: none;
  display: block;
}

.icon {
  width: 100%;
  border: solid 2px #999;
  box-shadow: 0em 0em .5em #fff;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.5em;
}

a {
  color: #744000;
}

.clearfix:before, .clear-fix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}